@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Kdam+Thmor+Pro&family=Noto+Sans+Sinhala:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(15, 15, 15);
    height: 100vh;  
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
#container{
    width: 100%;
    max-width: 412px;
    height: 100%;
    max-height: 100vh;
    position: relative;
    overflow: hidden;
}

/*-------navigation-----------*/
nav{
    height: 7vh;
    width: 100%;
    background-color: #141218;
    display: flex;
    align-items: center;
    position: relative;
    border-bottom: 1px solid #000000;
    /*padding: 12px; change if needed*/
}
#nav-icon{
    margin-left: 18px;
    cursor: pointer;
}
#EM-call{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 194px;
    cursor: pointer;
    margin-left: 72px;
}
#Em-text{
    color: #FFA5A5;
    font-size: 15px;
    font-family: 'Noto Sans Sinhala';
}
#call-icon{
    width: 25px;
    cursor: pointer;
    margin-right: 5px;
}


/*---------main-----------*/
main{
    height: 80vh;
    width: 100%;
    background-color: #141218;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
}
#spectrum{
    position: absolute;
    left: 0;
    top: -100px;
    animation: slideLeft 2s ease-in-out forwards;
    height: 50%;
    width: 200%;
}

@keyframes slideLeft {
    0%{
        left: 0;
    }
    80%{
        left: -100%;
        height: 50%;
        opacity: 100%;
    }
    100%{
        height: 80%;
        opacity: 20%;
    }
}
#voiceText{
    /*background: linear-gradient(to right, #a7a7a7, #b8b8b8); 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; */
    opacity: 0;
    animation: fadeIn 0.6s ease-in-out forwards;
    font-size: 1.0em;
    position: absolute;
    right: 5%;
    top: 7%;
    color: #A3A3A3;
}
.idwords{
    font-size: 1.0em;
    font-weight: bold;
    animation: textScale 3s ease-in-out forwards;
}
@keyframes textScale {
    25%{
        color: #A3A3A3;
    }
    50%{
        color: rgb(214, 214, 214);
    }
    75%{
        color: #A3A3A3;
    }
    100%{
        color: rgb(214, 214, 214);
    }
}
#response{
    display: flex;
    align-items: flex-start;
    gap: 5%;
    position: absolute;
    top: 14%;
    left: 5%;
    opacity: 0;
    animation: fadeIn 2s ease-in-out forwards;
}
#idText{
    font-size: 1.0em;
    color: #A3A3A3;
}
#identified{
    width: 20%;
}

#button-container{
    height: 42%;
    width: 90%;
    overflow: hidden;
    background-color: #1B1B1B;
    border-radius: 28px;
    position: absolute;
    top: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5%;    
    opacity: 0;
    animation: fadeIn 2.2s ease-in-out forwards;
}

#header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#lead-icon{
    width: 15%;
}
#located{
    margin-top: 1.2%;
    height: 12px;
}
#header-text{
    font-size: 0.9em;
    color: white;
    margin-top: 1.1%;
    margin-right: 5%;
}
#button-line{
    width: 100%;
    opacity: 40%;
}
#list1{
    width: 100%;
}
#list1 img{
    width: 100%;
}
#action-btn{
    position: absolute;
    z-index: 11;
    bottom: 14%;
    width: 80%;
    cursor: pointer;
    height: 20%;
    border: none;
    border-radius: 26px;
    font-size: 1em;
    background-color: #880101;
    color: #FFFFFF;
}
#result-view{
    position: absolute;
    height: 100%;
    width: 96%;
    z-index: 10;
    animation: fade 0.7s ease-in-out;
    margin-top: 5px;
    display: none;
}
@keyframes fade {
    from{
        opacity: 0;
    }
    to{
        opacity: 100%;
    }  
}

@keyframes fadeIn {
    80%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}

#text-container{
    position: absolute;
    top: 70%;
    left: 5%;
    width: 80%;
    height: 90%;
    font-family: 'Noto Sans Sinhala';
}
#main-title{
    font-size: 1.1em;
    color: white;
    margin-top: 8%;
    margin-bottom: 3%;
    font-weight: 550;
    opacity: 0;
    animation: fadeIn 2.6s ease-in-out forwards;
}
.sub-title{
    font-size: 1.1em;
    color: white;
    margin: 6% 0%;
}
#st1{
    opacity: 0;
    animation: fadeIn 2.7s ease-in-out forwards;
    color: #B4F9C5;
}
#st2{
    opacity: 0;
    animation: fadeIn 2.9s ease-in-out forwards;
    color: #FF9F9A;
}
#para-list1{
    opacity: 0;
    animation: fadeIn 2.8s ease-in-out forwards;
    font-size: 0.8em;
    color: #B4F9C5;
    line-height: 200%;
}
#para-list2{
    opacity: 0;
    animation: fadeIn 3s ease-in-out forwards;
    font-size: 0.8em;
    color: #FF9F9A;
    line-height: 200%;
} 
#lastText{
    opacity: 0;
    animation: fadeIn 3.1s ease-in-out forwards;
    margin-bottom: 20px;
}  

/*-------scroll-bar----------*/
::-webkit-scrollbar {
    width: 6px; 
    height: 6px; 
}

::-webkit-scrollbar-thumb {
    background: #262626; 
    border-radius: 10px; 
}

::-webkit-scrollbar-thumb:hover {
    background: #3b3b3b; 
}

::-webkit-scrollbar-track {
    background: #1e1e1e; 
    border-radius: 10px; 
}


/*------------footer---------------*/
footer{
    background-color: #2B2B2B;
    height: 13vh;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
#speaker{
    position: absolute;
    z-index: 11;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    cursor: pointer;
    width: 40px;
    
}
#speaker-anime{
    margin-left: 70%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 60%;
}
#single-speaker{
    width: 28px;
    position: absolute;
    z-index: 11;
    cursor: pointer;
}
#circle3{
    position: absolute;
    z-index: 10;
    width: 40px;
    filter: brightness(200%);
}
#circle4{
    position: absolute;
    z-index: 9;
    height: 10px;
    width: 10px;
    background-color: rgba(5, 159, 248, 0.877);
    border-radius: 100%;
    opacity: 0;
}
.circle4-active{
    animation: sizeup 1.8s ease-out infinite ;
}


@keyframes sizeup {
    0%{
        scale: 1;
        opacity: 30%;
    }
    40%{
        scale: 4.5;
        opacity: 100%;
    }
    70%{
        scale: 4.5;
        opacity: 100%;
    }
}
#footer-text{
    color: white;
    font-size: 0.7em;
    font-family: 'Noto Sans Sinhala';
    color: #DEDEDE;
}

/*---------------sidebar-----------------*/
aside{
    position: absolute;
    background-color: #2B2B2B;
    left: -412px;
    top: 10px;
    z-index: 20;
    height: 70vh;
    width: 280px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px;
    padding-bottom: 60px;
}
.aside-active{
    animation: slideR 0.4s ease-in-out forwards;
}
.aside-deactive{
    animation: slideL 0.4s ease-in-out forwards;
}

@keyframes slideR {
    from{
        left: -412px;
    }
    to{
        left: 0;
    }
}

@keyframes slideL {
    from{
        left: 0;
    }
    to{
        left: -412px;
    }
}

#side-top{
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    gap: 16px;
    margin-top: 19px;
}
#close-icon{
    position: absolute;
    right: 0;
    cursor: pointer;
}
#side-logo{
    width: 100px;
    margin-left: 8px;
}
ul{
    position: absolute;
    top: 10%;
}
li{
    display: flex;
    width: 250px;
    padding: 5px;
    overflow: hidden;
    margin: 10px 0px;
    cursor: pointer;
}
.li-active{
    background-color: #141218;
    border: none;
    border-radius: 26px;
    padding: 10px;
}
.side-icons{
    width: 8%;
}
.side-texts{
    margin-left: 15px;
    font-size: 0.7em;
    color: #DBDBDB;
    font-weight: 550;
    margin-top: 5px;
}
.side-titles{
    font-size: 0.6em;
    color: #DBDBDB;
    font-weight: 550;
    margin-top: 20px;
    margin-bottom: 20px;
}
.side-lines{
    color: #a3a3a35f;
    width: 95%;
}
#shadow{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 19;
    height: 100%;
    width: 100%;
    opacity: 60%;
    background-color: black;
    display: none;
}


/*-------section-------------*/

section{
    background-color: #141218;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 30;
    top: 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
    display: none;
}
.section-active{
    display: block;
    animation: slideR 0.4s ease-in-out;
}
@keyframes slideIn {
    from{
        right: -100%;
    }
    to{
        right: 0;
    } 
}
#section-head{
    width: 100%;
    height: 60px;
    position: absolute;
    border-bottom: 1px solid black;
    font-size: 1em;
}
#back{
    position: absolute;
    left: 18px;
    top: 18px;
    cursor: pointer;
    color: white;
}
#contactTitle{
    width: 350px;
    position: absolute;
    top: 13%;
}
#contactText{
    width: 350px;
    position: absolute;
    top: 23%;
    margin-left: 16px;
}




