@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Kdam+Thmor+Pro&family=Noto+Sans+Sinhala:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
    height: 100vh;  
    width: 100vw;
}

/*-------navigation-----------*/
nav{
    height: 5.8%;
    width: 100%;
    background-color: #141218;
    display: flex;
    align-items: center;
    position: relative;
    border-bottom: 1px solid #000000;
    /*padding: 12px; change if needed*/
}
#nav-icon{
    margin-left: 5%;
    cursor: pointer;
}
#EM-call{
    display: flex;
    align-items: center;
    width: 50%;
    cursor: pointer;
    margin-left: 25%;
}
#Em-text{
    color: #FFA5A5;
    font-size: 0.8em;
    font-family: 'Noto Sans Sinhala';
}
#call-icon{
    width: 20%;
    cursor: pointer;
    margin-right: -7%;
}

/*---------main-----------*/
main{
    height: 80%;
    width: 100%;
    background-color: #141218;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
#spectrum{
    position: absolute;
    left: 0;
    top: -100px;
    animation: slideLeft 2s ease-in-out forwards;
    height: 50%;
    width: 200%;
}

@keyframes slideLeft {
    0%{
        left: 0;
    }
    80%{
        left: -100%;
        height: 50%;
        opacity: 100%;
    }
    100%{
        height: 80%;
        opacity: 10%;
    }
}
#voiceText{
    /*background: linear-gradient(to right, #a7a7a7, #b8b8b8); 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; */
    opacity: 0;
    animation: fadeIn 0.5s ease-in-out 2.1s forwards;
    font-size: 1.0em;
    position: absolute;
    right: 5%;
    top: 7%;
    color: #A3A3A3;
}
.idwords{
    font-size: 1.0em;
    font-weight: bold;
    animation: textScale 5s ease-in-out infinite;
}
@keyframes textScale {
    25%{
        color: #A3A3A3;
    }
    50%{
        color: rgb(214, 214, 214);
    }
    75%{
        color: #A3A3A3;
    }
    100%{
        color: rgb(214, 214, 214);
    }
}
#response{
    display: flex;
    align-items: flex-start;
    gap: 5%;
    position: absolute;
    top: 14%;
    left: 5%;
}
#idText{
    font-size: 1.0em;
    color: #A3A3A3;
}
#identified{
    width: 20%;
}

@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 100%;
    }  
}

#button-container{
    height: 30%;
    width: 80%;
    overflow: hidden;
    background-color: #1B1B1B;
    border-radius: 28px;
    position: absolute;
    top: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5%;
}
#header{
    width: 100%;
}
#button-line{
    width: 100%;
    opacity: 40%;
}
#list1{
    width: 100%;
}
#action-btn{
    width: 80%;
    cursor: pointer;
    transition: filter 0.5s ease-in-out;
}
#action-btn:hover{
    filter: brightness(90%);
}
#result-view{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 12;
    display: none;
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    from{
        opacity: 0%;
    }
    to{
        opacity: 100%;
    }
}

#text-container{
    position: absolute;
    top: 60%;
    left: 5%;
    width: 80%;
    height: 100%;
}
#main-title{
    font-size: 1.2em;
    color: white;
}
.sub-title{
    font-size: 1.1em;
    color: white;
}
#st1{
    color: #B4F9C5;
}
#st2{
    color: #FF9F9A;
}
#para-list1{
    font-size: 0.8em;
    color: #B4F9C5;
}
#para-list2{
    font-size: 0.8em;
    color: #FF9F9A;
}   
/*------------footer---------------*/
footer{
    background-color: #2B2B2B;
    height: 14.1%;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12%;
}
#speaker{
    position: absolute;
    z-index: 11;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    cursor: pointer;
    width: 10%;
    
}
#speaker-anime{
    margin-left: 70%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 60%;
}
#single-speaker{
    width: 11%;
    position: absolute;
    z-index: 11;
}
#circle3{
    position: absolute;
    z-index: 10;
    width: 16%;
}
#circle4{
    position: absolute;
    z-index: 9;
    width: 13%;
    height: 25%;
    background-color: rgba(5, 159, 248, 0.877);
    border-radius: 100%;
    animation: sizeup 1.8s ease-out infinite ;
}


@keyframes sizeup {
    0%{
        scale: 1;
        opacity: 30%;
    }
    40%{
        scale: 1.5;
    }
    70%{
        scale: 1.5;
    }
}
#footer-text{
    color: white;
    font-size: 0.7em;
    font-family: 'Noto Sans Sinhala';
    color: #DEDEDE;
}

/*---------------sidebar-----------------*/
aside{
    position: absolute;
    background-color: #2B2B2B;
    left: -95%;
    top: 10px;
    z-index: 20;
    height: 80%;
    width: 85%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px;
    padding-bottom: 60px;
}
.aside-active{
    left: 0;
}
#side-top{
    display: flex;
    align-items: center;
    position: relative;
    gap: 16px;
    margin-top: 30px;
}
#close-icon{
    position: absolute;
    right: 10px;
    cursor: pointer;
}
#side-logo{
    width: 45%;
    fill: greenyellow;
}
ul{
    position: absolute;
    top: 14%;
}
li{
    display: flex;
    width: 95%;
    padding: 5px;
    overflow: hidden;
    margin: 20px 0px;
    cursor: pointer;
}
.side-icons{
    width: 8%;
}
.side-texts{
    margin-left: 15px;
    font-size: 1.2em;
    color: #A3A3A3;
    font-weight: 550;
}
.side-titles{
    font-size: 1em;
    color: #A3A3A3;
    font-weight: 550;
    margin-top: 20px;
    margin-bottom: 40px;
}
.side-lines{
    color: #a3a3a35f;
    width: 100%;
    margin-left: 5px;
}
#shadow{
    position: absolute;
    top: 0;
    z-index: 19;
    height: 100vh;
    width: 100vw;
    opacity: 60%;
    background-color: black;
    display: none;
}


